<!-- Header -->
<header>
  <!-- Sezione sinistra del header -->
  <div class="left-section">
    <!-- Logo -->
    <img class="logo" src="/ecommerce_from_outdoortribe/assets/icons/logo.svg" alt="Logo - OutdoorTribe">
  </div>
  <!-- Sezione destra del header -->
  <div class="right-section">
    <!-- Icona del menu -->
    <img class="menu-icon" src="/ecommerce_from_outdoortribe/assets/icons/optionsMenu.svg" alt="menu-icon">
    <!-- Menu di navigazione -->
    <nav class="menu">
      <a href="/ecommerce_from_outdoortribe/public/notifications.php">Notifications</a>
      <a href="/ecommerce_from_outdoortribe/public/find_friends.php">Find Friends</a>
      <a href="/ecommerce_from_outdoortribe/admin/logout.php">Log Out</a>
    </nav>
  </div>
  <!-- Script per la gestione del menu -->
  <script src="/ecommerce_from_outdoortribe/public/javascript/menu.js"></script>
</header>