/* templates/footer/footer.css */
footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand);
  color: #fff;
  position: fixed; left: 0; right: 0; bottom: 0;
  z-index: 5;
}
footer nav { display:none; } /* niente duplicazioni del menu */
footer p { margin: 0; font-size: 14px; opacity: .9; }
