<!-- Footer -->
<footer>
  <!-- Navigazione del footer -->
  <nav class="footer-nav">
    <!-- Link alla homepage -->
    <div class="home">
      <a href="/ecommerce_from_outdoortribe/homepage.php">
        <img class="home-icon" src="/ecommerce_from_outdoortribe/assets/icons/home.svg" alt="home-icon">
      </a>
    </div>
    <!-- Link alla pagina di ricerca -->
    <div class="search">
      <a href="/ecommerce_from_outdoortribe/search.php">
        <img class="search-icon" src="/ecommerce_from_outdoortribe/assets/icons/search.svg" alt="search-icon">
      </a>
    </div>
    <!-- Link alla pagina di creazione di un'attività -->
    <div class="create">
      <a href="/ecommerce_from_outdoortribe/createactivity.php">
        <img class="create-activity-icon" src="/ecommerce_from_outdoortribe/assets/icons/add.svg" alt="create-activity-icon">
      </a>
    </div>
    <!-- Link alla pagina del profilo -->
    <div class="profile">
      <a href="/ecommerce_from_outdoortribe/profilepage.php">
        <img class="profile-icon" src="/ecommerce_from_outdoortribe/assets/icons/profile.svg" alt="profile-icon">
      </a>
    </div>
  </nav>
</footer>
