/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 80px;

}

.title-container {
  text-align: center;
  font-size: 25px;
}

.form-container {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.text-container {
  color: rgb(62, 90, 64);
  font-size: 20px;
  font-weight: 450;
}

.message-container {
  text-align: center;
  color: grey;
  display: flex;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-content: center;
  width: 100%;
}

#check-btn {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid rgb(2, 150, 100);
  background-color: rgb(2, 150, 100);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.label-hidden {
  display: none;
}

input[type=text], select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 200px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: white;
  background-image: url(/outdoortribe/assets/icons/arrow.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 20px;
  cursor: pointer;
}

select:invalid {
  color: gray;
}

#map-id {
  border-radius: 15px;
  height: 40vw;
  width: 75%;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}