body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.outer-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.select,
.full-btn {
  width: 100%;
}

.full-btn {
  margin-top: 20px;
  height: 50px;
}

.logo-adventure {
  margin-top: 63px;
}
.logo-adventure img {
  height: 150px;
}
 
.generic-txt,
.select {
  padding-left: 5px;
}