body {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
    font-size: xx-large;
  }
  
  main {
    margin-top: 70px;
    
  }
  
  
  .outer-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
  }
  
  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  p {
    font-size: 20px;
  }
  
  span {
    font-weight: bold;
  }