.post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 2px solid black;
  min-width: 400px;
}

.username-container {
  margin-left: 10px;
  display: flex;
  align-items: center;  
}

.user-picture {
  height: 30px;
  width: 30px;
  background-color: black;
  border: 1.2px solid black;
  border-radius: 15px;
  object-fit: cover;
}

.username {
  margin-left: 10px;
  font-weight: 500;
}

.photo-container {
  display: flex;
  justify-content: center;
}
.user-photos img{
  display: none;
}

.map img {
  max-height: 200px;
}

.user-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-photos img{
  height: 90px;
}

.title h2 {
  color: #355B3E;
}

.title h2 a {
  text-decoration: none;
}

.location,
.activity,
.duration,
.length,
.altitude,
.details-container,
.rating-likes,
.rating,
.likes,
.shares {
  display: flex;
}

.likes {
  align-items: center;
  cursor: pointer;
}
.rating,
.shares {
  align-items: center;
}

.likes p,
.shares p {
  margin: 0 5px;
}

.like-icon {
  width: 28px; 
  height: 28px; 
  background-image: url(/ecommerce_from_outdoortribe/assets/icons/like.svg); 
  background-repeat: no-repeat;
}

.like-icon.liked {
  background-image: url(/ecommerce_from_outdoortribe/assets/icons/like-filled.svg);
}

.location,
.activity,
.details-container {
  margin-top: -20px;
}

.rating-likes img {
  height: 28px;
}

.rating p {
  margin-left: 5px;
}

.details-container,
.rating-likes {
  justify-content: space-between;
}

.location img,
.activity img,
.duration img {
  min-height: 20px;
  margin-right: 3px;
}
.length img {
  min-width: 25px;  
  margin-right: 3px;
}
.altitude img {
  min-width: 15px;
  margin-right: 3px;
}

.info-container {
  margin: 0 5px;
}

.difficulty {
  border: 1px solid black;
}

.difficulty-easy p{
  background-color: #A6FF98;
}.difficulty-medium p{
  background-color: #FFA8A8;
}.difficulty-hard p{
  background-color: #8B90FF;
}

.popup {
  display: none;
  width: 300px;
  background: #fff;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.popup p {
  margin: 0;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.username-container a {
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 900px)  {
  
  .post-container {
    min-width: 600px;
  }
}