body {
  font-family: "Roboto", sans-serif;
}

.space {
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.buttons-container *{
  height: 50px;
}

.full-btn,
.border-btn {
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 24px;
}

.full-btn {
  color: white;
  background-color: #029664;
}

.border-btn {
  color: #029664;
  background-color: white;
  border-color: #029664;
}

.data-input-container *{
  display: flex;
  flex-direction: column;
}

.data-input-container label,
.data-input-container input,
.data-input-container select {
  font-size: 20px;
}

.data-input-container label {
  margin-top: 1rem;
  font-weight: 450;
}

.data-input-container .email-txt,
.data-input-container .password-txt,
.data-input-container .generic-txt,
.data-input-container .select {
  color: #355B3E;
  margin-top: 10px;
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.paragraph-400,
.paragraph-450,
.errore {
  color: #355B3E;
  font-weight: 400;
  font-size: 22px;
  max-width: 100%;
  height: auto;
}
.paragraph-450,
.errore {
  font-weight: 450;
}

.errore {
  color: red;
}
